<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popup Template</title>
    <!-- Add your CSS stylesheets or other head content here if needed -->
</head>
<body>
    <div>
        {% load static %}
        {% for image_url in image_urls|slice:":3" %}
        <img src="{% static image_url %}" alt="Image" width="100" height="100"><br>
        {% endfor %}
        <b>Unique ID:</b> {{ unique_id }}<br>
        <b>Surveyor ID:</b> {{ surveyor_id }}<br>
        <b>Coordinates:</b> {{ coordinates }}<br>
        <b>Nearby Station:</b> {{ nearby_station }}<br>
        <b>Scrap Location:</b> {{ scrap_location }}<br>
        <a href="https://dinudashilua.pythonanywhere.com/navigation-pane/{{ unique_id }}/" target="navigation_pane">View More Details</a>

    </div>

    <!-- Add your JavaScript or other body content here if needed -->
</body>
</html>
